{% extends "servers/layout.html" %}

{% block title %}Build Servers{% endblock %}

{% block contents %}
{% if servers %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Address</th>
        <th>Username</th>
        <th>Access Token</th>
        <th>Builders</th>
        <th>Actions</th>
      </tr>
    </tead>
    <tbody class="table-hover">
      {%- for server in servers %}
      <tr>
        <td>{{ server.address }}</td>
        <td>{{ server.username }}</th>
        <td>{{ server.access_token|mask_access_token }}</td>
        <td><a href="{{ url_for('builders.index') }}">{{ server.builders|length }}</a></td>
        <td class="narrow">
          <a class="btn fa fa-edit" href={{ url_for('servers.edit', server_id=server.id) }}
             title="{% trans %}Edit Server{% endtrans %}">&nbsp;</a>
          <a class="btn fa fa-eraser" href={{ url_for('servers.delete', server_id=server.id) }}
             title="{% trans %}Delete Server{% endtrans %}">&nbsp;</a>
          <a class="btn fa fa-refresh" href={{ url_for('servers.sync', server_id=server.id) }}
             title="{% trans %}Edit Server{% endtrans %}">&nbsp;</a>
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No build servers available</p>
{% endif %}
{% endblock %}
