{% macro render_field(field, options={}, show_description=True) %}
<div class="form-group{% if field.errors %} error{% endif %} ">
  <label>{{ field.label }}</label>
  {{ field(placeholder=field.label, class_=' '.join([options.pop('class_', ''),
                                                     options.pop('class', ''),
                                                     (field.errors and 'error' or '')] +
                                                     ['form-control']).strip(), **options) }}
  {% if field.description and show_description %}
    <span class="help-block">{{ field.description }}</span>
  {% endif %}
</div>
{% endmacro %}
